@import 'bootstrap/scss/functions';
@import './helpers/_variables'; // 自定義
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

@import './helpers/base';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'vue-loading-overlay/dist/css/index.css';

html,
body {
  height: 100%;
}

body {
  background-color: $bg-yellow;
}

#app {
  min-height: 100%;
  background-color: $bg-yellow;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

header {
  nav {
    a {
      font-weight: bold;
      color: #b43b3b;

      &.router-link-exact-active {
        color: #752525;
      }
    }
  }
}

.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.swiper-pagination.homeswiper-pagination {
  position: relative;

  .swiper-pagination-bullet {
    margin: 0 6px !important;
    background-color: $primary;
  }
}
