// font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");

// 全站樣式
body {
  font-family: "Noto Sans TC", "sans-serif";
  // background-color: $background;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}
