@import 'bootstrap/scss/functions';
@import './helpers/_variables'; // 自定義
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

@import './helpers/base';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'vue-loading-overlay/dist/css/index.css';

body {
  background-color: $bg-yellow;
}

#app {
  background-color: $bg-yellow;
}

header {
  nav {
    a {
      font-weight: bold;
      color: #ffffff;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
}
